*~
/build
/CMakeCache.txt
/CMakeFiles/CMakeCCompiler.cmake
/CMakeFiles/CMakeCXXCompiler.cmake
/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/CMakeOutput.log
/CMakeFiles/CMakeRuleHashes.txt
/CMakeFiles/CMakeSystem.cmake
/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/CompilerIdC/a.out
/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/CompilerIdCXX/a.out
/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile2
/CMakeFiles/Progress/13
/CMakeFiles/Progress/16
/CMakeFiles/Progress/2
/CMakeFiles/Progress/27
/CMakeFiles/Progress/count.txt
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/progress.make
/CMakeFiles/progress.marks
/CMakeFiles/test.dir/DependInfo.cmake
/CMakeFiles/test.dir/build.make
/CMakeFiles/test.dir/cmake_clean.cmake
/CMakeFiles/test.dir/depend.internal
/CMakeFiles/test.dir/depend.make
/CMakeFiles/test.dir/progress.make
/ERROR_HANDLING.txt
/Makefile
/TODO-validator.txt
/checker/CMakeFiles/CMakeDirectoryInformation.cmake
/checker/CMakeFiles/orderly_check.dir/C.includecache
/checker/CMakeFiles/orderly_check.dir/DependInfo.cmake
/checker/CMakeFiles/orderly_check.dir/build.make
/checker/CMakeFiles/orderly_check.dir/checker.c.o
/checker/CMakeFiles/orderly_check.dir/cmake_clean.cmake
/checker/CMakeFiles/orderly_check.dir/depend.internal
/checker/CMakeFiles/orderly_check.dir/depend.make
/checker/CMakeFiles/orderly_check.dir/flags.make
/checker/CMakeFiles/orderly_check.dir/link.txt
/checker/CMakeFiles/orderly_check.dir/progress.make
/checker/CMakeFiles/progress.make
/checker/CMakeFiles/progress.marks
/checker/Makefile
/checker/cmake_install.cmake
/checker/orderly_check
/cmake_install.cmake
/orderly-0.0.1/bin/orderly_check
/orderly-0.0.1/bin/orderly_reformat
/orderly-0.0.1/bin/orderly_verify
/orderly-0.0.1/include/orderly/ajv_parse.h
/orderly-0.0.1/include/orderly/common.h
/orderly-0.0.1/include/orderly/json.h
/orderly-0.0.1/include/orderly/node.h
/orderly-0.0.1/include/orderly/reader.h
/orderly-0.0.1/include/orderly/writer.h
/orderly-0.0.1/lib/liborderly.so
/orderly-0.0.1/lib/liborderly.so.0
/orderly-0.0.1/lib/liborderly.so.0.0.1
/orderly-0.0.1/lib/liborderly_s.a
/reformatter/CMakeFiles/CMakeDirectoryInformation.cmake
/reformatter/CMakeFiles/orderly_reformat.dir/C.includecache
/reformatter/CMakeFiles/orderly_reformat.dir/DependInfo.cmake
/reformatter/CMakeFiles/orderly_reformat.dir/build.make
/reformatter/CMakeFiles/orderly_reformat.dir/cmake_clean.cmake
/reformatter/CMakeFiles/orderly_reformat.dir/depend.internal
/reformatter/CMakeFiles/orderly_reformat.dir/depend.make
/reformatter/CMakeFiles/orderly_reformat.dir/flags.make
/reformatter/CMakeFiles/orderly_reformat.dir/link.txt
/reformatter/CMakeFiles/orderly_reformat.dir/progress.make
/reformatter/CMakeFiles/orderly_reformat.dir/reformat.c.o
/reformatter/CMakeFiles/progress.make
/reformatter/CMakeFiles/progress.marks
/reformatter/Makefile
/reformatter/cmake_install.cmake
/reformatter/orderly_reformat
/src/CMakeFiles/CMakeDirectoryInformation.cmake
/src/CMakeFiles/orderly.dir/C.includecache
/src/CMakeFiles/orderly.dir/DependInfo.cmake
/src/CMakeFiles/orderly.dir/ajv_util.c.o
/src/CMakeFiles/orderly.dir/build.make
/src/CMakeFiles/orderly.dir/cmake_clean.cmake
/src/CMakeFiles/orderly.dir/depend.internal
/src/CMakeFiles/orderly.dir/depend.make
/src/CMakeFiles/orderly.dir/flags.make
/src/CMakeFiles/orderly.dir/link.txt
/src/CMakeFiles/orderly.dir/orderly_alloc.c.o
/src/CMakeFiles/orderly.dir/orderly_buf.c.o
/src/CMakeFiles/orderly.dir/orderly_json.c.o
/src/CMakeFiles/orderly.dir/orderly_json_parse.c.o
/src/CMakeFiles/orderly.dir/orderly_lex.c.o
/src/CMakeFiles/orderly.dir/orderly_node.c.o
/src/CMakeFiles/orderly.dir/orderly_parse.c.o
/src/CMakeFiles/orderly.dir/orderly_reader.c.o
/src/CMakeFiles/orderly.dir/orderly_writer.c.o
/src/CMakeFiles/orderly.dir/progress.make
/src/CMakeFiles/orderly_s.dir/C.includecache
/src/CMakeFiles/orderly_s.dir/DependInfo.cmake
/src/CMakeFiles/orderly_s.dir/ajv_util.c.o
/src/CMakeFiles/orderly_s.dir/build.make
/src/CMakeFiles/orderly_s.dir/cmake_clean.cmake
/src/CMakeFiles/orderly_s.dir/cmake_clean_target.cmake
/src/CMakeFiles/orderly_s.dir/depend.internal
/src/CMakeFiles/orderly_s.dir/depend.make
/src/CMakeFiles/orderly_s.dir/flags.make
/src/CMakeFiles/orderly_s.dir/link.txt
/src/CMakeFiles/orderly_s.dir/orderly_alloc.c.o
/src/CMakeFiles/orderly_s.dir/orderly_buf.c.o
/src/CMakeFiles/orderly_s.dir/orderly_json.c.o
/src/CMakeFiles/orderly_s.dir/orderly_json_parse.c.o
/src/CMakeFiles/orderly_s.dir/orderly_lex.c.o
/src/CMakeFiles/orderly_s.dir/orderly_node.c.o
/src/CMakeFiles/orderly_s.dir/orderly_parse.c.o
/src/CMakeFiles/orderly_s.dir/orderly_reader.c.o
/src/CMakeFiles/orderly_s.dir/orderly_writer.c.o
/src/CMakeFiles/orderly_s.dir/progress.make
/src/CMakeFiles/progress.make
/src/CMakeFiles/progress.marks
/src/Makefile
/src/auto/Orderly.bs
/src/auto/Orderly.so
/src/auto/orderly.so
/src/cmake_install.cmake
/test/CMakeFiles/CMakeDirectoryInformation.cmake
/test/CMakeFiles/progress.make
/test/CMakeFiles/progress.marks
/test/CMakeFiles/test.dir/DependInfo.cmake
/test/CMakeFiles/test.dir/build.make
/test/CMakeFiles/test.dir/cmake_clean.cmake
/test/CMakeFiles/test.dir/depend.internal
/test/CMakeFiles/test.dir/depend.make
/test/CMakeFiles/test.dir/progress.make
/test/Makefile
/test/bins/lex/CMakeFiles/CMakeDirectoryInformation.cmake
/test/bins/lex/CMakeFiles/lex_test.dir/C.includecache
/test/bins/lex/CMakeFiles/lex_test.dir/DependInfo.cmake
/test/bins/lex/CMakeFiles/lex_test.dir/build.make
/test/bins/lex/CMakeFiles/lex_test.dir/cmake_clean.cmake
/test/bins/lex/CMakeFiles/lex_test.dir/depend.internal
/test/bins/lex/CMakeFiles/lex_test.dir/depend.make
/test/bins/lex/CMakeFiles/lex_test.dir/flags.make
/test/bins/lex/CMakeFiles/lex_test.dir/lex_test.c.o
/test/bins/lex/CMakeFiles/lex_test.dir/link.txt
/test/bins/lex/CMakeFiles/lex_test.dir/progress.make
/test/bins/lex/CMakeFiles/progress.make
/test/bins/lex/CMakeFiles/progress.marks
/test/bins/lex/Makefile
/test/bins/lex/cmake_install.cmake
/test/bins/lex/lex_test
/test/bins/parse/CMakeFiles/CMakeDirectoryInformation.cmake
/test/bins/parse/CMakeFiles/parse_test.dir/C.includecache
/test/bins/parse/CMakeFiles/parse_test.dir/DependInfo.cmake
/test/bins/parse/CMakeFiles/parse_test.dir/build.make
/test/bins/parse/CMakeFiles/parse_test.dir/cmake_clean.cmake
/test/bins/parse/CMakeFiles/parse_test.dir/depend.internal
/test/bins/parse/CMakeFiles/parse_test.dir/depend.make
/test/bins/parse/CMakeFiles/parse_test.dir/flags.make
/test/bins/parse/CMakeFiles/parse_test.dir/link.txt
/test/bins/parse/CMakeFiles/parse_test.dir/parse_test.c.o
/test/bins/parse/CMakeFiles/parse_test.dir/progress.make
/test/bins/parse/CMakeFiles/progress.make
/test/bins/parse/CMakeFiles/progress.marks
/test/bins/parse/Makefile
/test/bins/parse/cmake_install.cmake
/test/bins/parse/parse_test
/test/cmake_install.cmake
/test/core
/test/run_validator.3rb
/validator-todo.org
/validator/CMakeFiles/CMakeDirectoryInformation.cmake
/validator/CMakeFiles/orderly_verify.dir/C.includecache
/validator/CMakeFiles/orderly_verify.dir/DependInfo.cmake
/validator/CMakeFiles/orderly_verify.dir/build.make
/validator/CMakeFiles/orderly_verify.dir/cmake_clean.cmake
/validator/CMakeFiles/orderly_verify.dir/depend.internal
/validator/CMakeFiles/orderly_verify.dir/depend.make
/validator/CMakeFiles/orderly_verify.dir/flags.make
/validator/CMakeFiles/orderly_verify.dir/json_verify.c.o
/validator/CMakeFiles/orderly_verify.dir/link.txt
/validator/CMakeFiles/orderly_verify.dir/progress.make
/validator/CMakeFiles/progress.make
/validator/CMakeFiles/progress.marks
/validator/Makefile
/validator/cmake_install.cmake
/validator/orderly_verify
